.App {
  width: 70%;
  margin: auto;
  &__label {
    display: block;
    padding-top: 15%;
    margin-left: 3%;
    font-size: 15px;
    font-weight: 700;
    @media all and (min-width: 768px) {
      padding-top: 20%;
      margin-left: 5%;
      font-size: 38px;
    }
    @media all and (min-width: 1024px) {
      padding-top: 25%;
      margin-left: 6%;
      font-size: 48px;
    }
    &--text {
      padding: 6px;
      width: 88%;
      height: 10vh;
      font-size: 12px;
      display: block;
      outline-style: none;
      margin-top: 10px;
      background-color: white;
      border: none;
      border-radius: 10px;
      @media all and (min-width: 768px) {
        font-size: 20px;
        height: 25vh;
      }
      @media all and (min-width: 1024px) {
        font-size: 30px;
        height: 30vh;
      }
    }
  }
}
.translation {
  width: 96%;
  height: 40vh;
  font-size: 15px;
  padding: 0 4%;
  margin: 10px 0 0 10px;
  word-wrap: break-word;
  @media all and (min-width: 768px) {
    font-size: 22px;
  }
  @media all and (min-width: 1024px) {
    font-size: 35px;
  }
}
