* {
  box-sizing: border-box;
  margin-top: 8%;
  @media all and (min-width: 768px) {
    margin-top: 5%;
  }
  @media all and (min-width: 1024px) {
    margin-top: 0;
  }
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  background-image: url(../note.png);
  background-repeat: no-repeat;
  background-size: cover;
}
